.component-path-detail {
  margin: 10px 0;
  border-radius: 4px;

  .summary {
    padding: 5px;
    font-weight: bold;
    .method {
      border-radius: 3px;
      padding: 6px 15px;
      width: 80px;
      color: #fff;
      display: inline-block;
      text-align: center;
    }
  }

  &.get {
  border: 1px solid #49cc90;

    .method {
      background-color: #49cc90;
    }
  }

  &.post {
    border: 1px solid #61affe;

    .method {
      background-color: #61affe;
    }
  }
}