.project-manager-container {
  .list-item {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .list-collapse {
    margin-left: 20px;
    .list-item {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .api-link-button {
    display: block;
    button {
      display: block;
      padding-left: 30px;
      text-align: left;
      width: 100%;
      text-transform: none;
    }
  }
}
